body
{
 margin: 0;
 padding: 0;   
 background: url('../images/background.avif');
 background-size: cover;
 background-position: center;   
}
.navbar
{
width: 80%;
height: auto;
margin: auto;    
}
.content 
{
width: 80%;
height: auto;
margin: auto;
padding: 25px;    
}